.collection-item {
  width: 23%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    position: relative;

    &:hover {
      button {
        opacity: 0.85;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: black;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      border: 5px solid white;
      opacity: 0;
    }

    &::before,
    &::after {
      transition: opacity 200ms ease-in-out;
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.5;
    }
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  button {
    position: absolute;
    width: 60%;
    bottom: 70px;
    left: 55px;
    opacity: 0;
    z-index: 5;
    transition: opacity 250ms ease-in-out;
  }

  .name {
    width: 90%;
    margin-bottom: 15px;
  }

  .price::before {
    content: "$";
  }
}
