.flash-message {
  color: red;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
}

.login-form {
  min-width: 400px;
  max-width: 600px;

  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
