.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: auto;
  }
}
